<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <p>¿No estas convencido? mira lo que he construido! </p>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Colegio el Placer de Aprender</h3>
                <p>Una aplicación que Gestiona la informacion de un colegio.</p>
                <a class="orange" target="_blank" href="http://colegioepa.tk/">Link aqui</a>
            </div>
            <div class="card third">
                <h3>Gestor de clientes</h3>
                <p>Una aplicacion para gestionar mis clientes.</p>
                <a class="orange" href="#">Link aqui</a>
            </div>
            <div class="card third">
                <h3>Gestion de tareas</h3>
                <p>Una aplicacion para gestionar mis tareas.</p>
                <a class="orange" href="#">Link aqui</a>
            </div>
        </div>
    </div>
</div>